<%- include('header', {title: "Jelentkezettek listája"}) -%>
<%- include('menu') -%>
<div class="container mt-5">
    <div class="row">
        <h1>Esemény neve</h1>
    </div>
    <div class="row">
        <div class="col-xl-8 col-sm-12 mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Állapot</th>
                    <th>Van kártyája</th>
                    <th>Eljött</th>
                    <th>Fizetett</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(user =>{ %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.livingType %></td>
                        <td><%= user.hasCard %></td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""/>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""/>
                            </div>
                        </td>
                        <td style="width: 30px; white-space: nowrap">
                            <a href="#" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </td>
                    </tr>

                <% }); %>
                </tbody>
            </table>
            <button class="btn btn-primary">Export to .CSV</button>
        </div>
        <div class="col-xl-1 col-sm-12 mt-5">

        </div>
        <div class="col-xl-3 col-sm-12 mt-5">
            <div class="row col-12 shadow p-4 mb-5 bg-body rounded">
                <div>
                    <h5>Lemondták</h5>
                </div>
                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th>Név</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mark</td>
                        <td style="width: 30px; white-space: nowrap">
                            <a href="#" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td style="width: 30px; white-space: nowrap">
                            <a href="#" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td style="width: 30px; white-space: nowrap">
                            <a href="#" class="btn btn-sm btn-success">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<%- include('footer') -%>
