<%- include('header', {title: "Eseményre jelentkezés"}) -%>
<%- include('menu') -%>
<div class="container mt-5">
    <div class="row">
        <h1>Eseményre jelentkezés</h1>
    </div>
    <div class="row">
        <div class="col-xl-6 col-sm-12 mt-5">
            <div
                    class="card mb-3"
                    style="max-width: 600px; margin-left: auto; margin-right: auto"
            >
                <div class="card-body">
                    <h5 class="card-title"><%= theEvent.name %></h5>
                    <p class="card-text">
                        <%= theEvent.description %>
                    </p>
                    <p class="card-footer">
                        Helyszín: <%= theEvent.place %>
                        Dátum: <%= `${theEvent.date.getFullYear()}-${theEvent.date.getMonth() + 1}-${theEvent.date.getDate()}` %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 mt-5">
            <div class="row col-12 shadow p-5 mb-5 bg-body rounded">
                <form method="post">
                    <div class="mb-3 p-2">
                        <div class="form-floating">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="fullName"
                                    placeholder="<%= user.name %>"
                                    disabled

                            />
                            <label for="fullName"><%= user.name %></label>
                        </div>
                    </div>
                    <div class="mb-3 p-2">
                        <div class="form-floating">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="IDCard"
                                    placeholder="<%= user.idCardNumber %>"
                                    disabled
                            />
                            <label for="IDCard"><%= user.idCardNumber %></label>
                        </div>
                    </div>
                    <div class="mb-3 p-2">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect"
                            >Mi vagy</label
                            >
                            <select class="form-select" id="inputGroupSelect" disabled>
                                <% if (user.livingType === "sch") { %>
                                    <option selected value="1">Kolis</option>
                                <% } %>
                                <% if (user.livingType === "vik") { %>
                                    <option selected value="2">VIK-es</option>
                                <% } %>
                                <% if (user.livingType === "out") { %>
                                    <option selected value="3">Külsős</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 p-2">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="hostelCard"
                                    disabled
                            <% if (user.hasCard) { %>
                                    checked
                                    <% } %>
                            />
                            <label class="form-check-label" for="hostelCard">
                                Van kollégiumi kártyád?
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 p-2">
                        <input type="hidden" value="<%= theEvent._id %>" name="event_id" />
                        <input type="submit" class="btn btn-primary" value="Jelentkezés">
                        <a class="btn btn-danger" href="/events">Mégse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>
