<%- include('header', {title: "Események"}) -%>
<%- include('menu') -%>
<div class="container justify-content-center mt-5">
    <div>
        <h1>Események</h1>
    </div>
    <div class="row">
        <% events.forEach(event => { %>
            <div class="mt-5">
                <div
                        class="card mb-3"
                        style="max-width: 600px; margin-left: auto; margin-right: auto"
                >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img
                                    src="assets/pictures/event_pic.png"
                                    class="img-fluid rounded-start"
                                    alt="..."
                            />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= event.name %></h5>
                                <p class="card-text">
                                    <%= event.description %>
                                </p>
                                <p class="card-footer">
                                    Helyszín: <%= event.place %>
                                    Dátum: <%= `${event.date.getFullYear()}-${event.date.getMonth() + 1}-${event.date.getDate()}` %>
                                </p>
                                <a href="/event/<%= event._id %>/apply" class="btn btn-primary">Jelentkezés</a>
                                <% if (typeof user !== "undefined" && user.authority === "Admin"){ %>
                                    <a href="/event/<%= event._id %>/applicants" class="btn btn-info">Megtekintés</a>
                                    <a href="/delevent/<%= event._id %>" class="btn btn-danger">Törlés</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% } ) %>
    </div>
</div>
<%- include('footer') -%>

