<%- include('header', {title: "Főoldal"}) -%>
<%- include('menu') -%>
<div class="container justify-content-center">
    <div class="row m-5">
        <div class="container w-50 h-50">
            <div>
                <div
                        id="carouselExampleCaptions"
                        class="carousel slide"
                        data-bs-ride="carousel"
                >
                    <div class="carousel-indicators">
                        <% events.forEach((event, index) => { %>
                            <button
                                    type="button"
                                    data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="<%= index %>"
                            <% if (index === 0) { %>
                                    class="active"
                                    aria-current="true"
                                    <% } %>
                                    aria-label="Slide <%= index + 1 %>"
                            ></button>
                        <% }) %>
                    </div>
                    <div class="carousel-inner">
                        <% events.forEach((event, index) => { %>
                            <div class="carousel-item <% if (index === 0) { %>active<% } %>">
                                <img
                                        src="assets/pictures/home.png"
                                        class="d-block w-100"
                                        alt="..."
                                />
                                <div class="carousel-caption d-none d-md-block" >
                                    <h5>
                                        <%= event.name %>
                                    </h5>
                                    <p>
                                        <%= event.description %>
                                    </p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev"
                    >
                <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next"
                    >
                <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                ></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3 p-3">
        <div class="mt-5">
            <div
                    class="card"
                    style="max-width: 600px; margin-left: auto; margin-right: auto"
            >
                <div class="card-header">Bejegyzés név</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                        lobortis ex vel aliquet placerat. Orci varius natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus.
                        Curabitur eget ultricies magna.
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div
                    class="card"
                    style="max-width: 600px; margin-left: auto; margin-right: auto"
            >
                <div class="card-header">Bejegyzés név</div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                        lobortis ex vel aliquet placerat. Orci varius natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus.
                        Curabitur eget ultricies magna.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>
