<%- include('header', {title: "Profil"}) -%>
<%- include('menu') -%>
<div class="container mt-5">
    <div class="row mb-5 col-12">
        <h1>Profilom</h1>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-12 shadow p-5 mb-5 bg-body rounded">
            <h4>Jelentkezéseim</h4>
            <% events.forEach(event => { %>
                <div class="mt-5">
                    <div
                            class="card mb-3"
                            style="max-width: 600px; margin-left: auto; margin-right: auto"
                    >
                        <div class="card-body">
                            <h5 class="card-title"><%= event.name %></h5>
                            <p class="card-text">
                                <%= event.description %>
                            </p>
                            <p class="card-footer">
                                Helyszín: <%= event.place %>
                                Dátum: <%= `${event.date.getFullYear()}-${event.date.getMonth() + 1}-${event.date.getDate()}` %>
                            </p>
                            <a href="/delapplicant/<%= event._id %>" class="btn btn-danger">Lejelentkezés</a>
                        </div>
                    </div>
                </div>
            <% } ) %>
        </div>
        <div class="col-xl-6 col-md-12 shadow p-5 mb-5 bg-body rounded">
            <form method="post" autocomplete="nope">
                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="chrome"
                                class="form-control"
                                id="username"
                                name="username"
                                value="<%= user.username %>"
                        />
                        <label for="username">Felhasználónév</label>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="chrome"
                                class="form-control"
                                id="name"
                                name="name"
                                value="<%= user.name %>"
                        />
                        <label for="name">Teljes név</label>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="chrome"
                                class="form-control"
                                id="email"
                                name="email"
                                value="<%= user.email %>"
                        />
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="chrome"
                                class="form-control"
                                id="IDCard"
                                name="idCardNumber"
                                value="<%= user.idCardNumber %>"
                        />
                        <label for="IDCard">Személyi igazolvány szám</label>
                    </div>
                </div>

                <div class="mb-3 p-2">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect"
                        >Mi vagy</label
                        >
                        <select class="form-select" id="inputGroupSelect" name="livingType">
                            <% if (user.livingType === "sch") { %>
                                <option selected value="sch">Kolis</option>
                                <option value="vik">VIK-es</option>
                                <option value="out">Külsős</option>
                            <% } %>
                            <% if (user.livingType === "vik") { %>
                                <option selected value="vik">VIK-es</option>
                                <option value="sch">Kolis</option>
                                <option value="out">Külsős</option>
                            <% } %>
                            <% if (user.livingType === "out") { %>
                                <option selected value="out">Külsős</option>
                                <option value="sch">Kolis</option>
                                <option value="vik">VIK-es</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="hostelCard"
                                name="hostelCard"
                        <% if (user.hasCard) { %>
                                checked
                                <% } %>
                        />
                        <label class="form-check-label" for="hostelCard">
                            Van kollégiumi kártyád?
                        </label>
                    </div>
                </div>

                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="password"
                                class="form-control"
                                id="new-password"
                                name="password"
                                placeholder="Jelszó"
                                autocomplete="nope"
                        />
                        <label for="new-password">Jelszó</label>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <div class="form-floating">
                        <input
                                type="password"
                                class="form-control"
                                id="new-password2"
                                name="password2"
                                placeholder="Jelszó még egyszer"
                                autocomplete="nope"
                        />
                        <label for="new-password2">Jelszó még egyszer</label>
                    </div>
                </div>
                <div class="mb-3 p-2">
                    <input type="submit" class="btn btn-primary" value="Adatok szerkesztése">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer') -%>
